- Visualizzare il nome della provincia e il nome della regione

In [ ]:
!pip install geopandas
import geopandas 
import pandas as pd

Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.21)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.0)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)

In [ ]:
province = geopandas.read_file("/content/drive/MyDrive/Colab Notebooks/Limiti01012021_g/ProvCM01012021_g")
regioni = geopandas.read_file("/content/drive/MyDrive/Colab Notebooks/Limiti01012021_g/Reg01012021_g")

In [ ]:
province

     COD_RIP  ...                                           geometry
0          1  ...  POLYGON ((411015.006 5049970.983, 411266.039 5...
1          1  ...  POLYGON ((438328.612 5087208.215, 439028.888 5...
2          1  ...  POLYGON ((460929.542 5076320.298, 461165.259 5...
3          1  ...  MULTIPOLYGON (((378673.492 4958865.159, 378928...
4          1  ...  POLYGON ((425041.329 4997628.309, 424948.989 4...
..       ...  ...                                                ...
102        1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
103        1  ...  POLYGON ((519754.706 5065242.380, 520199.702 5...
104        3  ...  POLYGON ((884760.019 4804406.440, 885511.011 4...
105        4  ...  POLYGON ((1081237.144 4611047.023, 1081399.393...
106        5  ...  MULTIPOLYGON (((448813.650 4301762.751, 448823...

[107 rows x 13 columns]

In [ ]:
regioni

    COD_RIP  ...                                           geometry
0         1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
1         1  ...  POLYGON ((390652.644 5091766.171, 390748.643 5...
2         1  ...  MULTIPOLYGON (((485536.366 4985444.605, 485366...
3         2  ...  POLYGON ((743267.749 5219765.793, 743387.812 5...
4         2  ...  POLYGON ((768123.960 5175397.497, 768135.210 5...
5         2  ...  MULTIPOLYGON (((872344.457 5061894.048, 872344...
6         1  ...  MULTIPOLYGON (((568226.691 4874823.573, 568219...
7         2  ...  MULTIPOLYGON (((618343.929 4893985.661, 618335...
8         3  ...  MULTIPOLYGON (((674426.642 4680710.364, 674563...
9         3  ...  MULTIPOLYGON (((776982.140 4832209.918, 776910...
10        3  ...  POLYGON ((802303.985 4874996.456, 802366.734 4...
11        3  ...  MULTIPOLYGON (((875952.995 4524692.050, 875769...
12        4  ...  MULTIPOLYGON (((930273.425 4714737.743, 930147...
13        4  ...  POLYGON ((984002.800 4670714.415, 985067.040 4...
14        4  ...  MULTIPOLYGON (((1037313.692 4449410.367, 10373...
15        4  ...  MULTIPOLYGON (((1280636.111 4454459.746, 12806...
16        4  ...  MULTIPOLYGON (((1073707.061 4445700.106, 10737...
17        4  ...  MULTIPOLYGON (((1083358.846 4416348.741, 10833...
18        5  ...  MULTIPOLYGON (((822886.611 3935355.889, 822871...
19        5  ...  MULTIPOLYGON (((448813.650 4301762.751, 448823...

[20 rows x 6 columns]

In [ ]:
df_prov_reg = pd.merge(province,regioni, how="left", on=["COD_REG"])
df_prov_reg = df_prov_reg[["DEN_UTS","DEN_REG"]]
df_prov_reg

                   DEN_UTS    DEN_REG
0                   Torino   Piemonte
1                 Vercelli   Piemonte
2                   Novara   Piemonte
3                    Cuneo   Piemonte
4                     Asti   Piemonte
..                     ...        ...
102   Verbano-Cusio-Ossola   Piemonte
103  Monza e della Brianza  Lombardia
104                  Fermo     Marche
105  Barletta-Andria-Trani     Puglia
106           Sud Sardegna   Sardegna

[107 rows x 2 columns]

- Visualizzare il nome della provincia e il nome del comune

In [ ]:
comuni = geopandas.read_file("/content/drive/MyDrive/Colab Notebooks/Limiti01012021_g/Com01012021_g")
comuni

      COD_RIP  ...                                           geometry
0           1  ...  POLYGON ((404703.558 5026682.655, 405359.554 5...
1           1  ...  POLYGON ((380700.909 4977305.520, 381105.998 4...
2           1  ...  POLYGON ((364710.857 5022090.678, 364737.794 5...
3           1  ...  POLYGON ((415942.504 5033304.609, 416079.315 5...
4           1  ...  POLYGON ((376934.962 4999073.854, 376960.555 4...
...       ...  ...                                                ...
7898        5  ...  MULTIPOLYGON (((556602.772 4375162.650, 556598...
7899        5  ...  POLYGON ((541186.146 4375105.653, 541180.146 4...
7900        5  ...  MULTIPOLYGON (((546451.098 4325900.553, 546443...
7901        5  ...  POLYGON ((500362.475 4361229.767, 500397.474 4...
7902        5  ...  POLYGON ((494131.525 4353208.832, 494847.519 4...

[7903 rows x 13 columns]

In [ ]:
df_com_prov = pd.merge(province,comuni, how="left", on=["COD_PROV"])
df_com_prov = df_com_prov[["DEN_UTS","COMUNE"]]
df_com_prov

           DEN_UTS           COMUNE
0           Torino           AgliÃ¨
1           Torino          Airasca
2           Torino     Ala di Stura
3           Torino  Albiano d'Ivrea
4           Torino           Almese
...            ...              ...
7898  Sud Sardegna       Villaputzu
7899  Sud Sardegna       Villasalto
7900  Sud Sardegna      Villasimius
7901  Sud Sardegna         Villasor
7902  Sud Sardegna    Villaspeciosa

[7903 rows x 2 columns]

- Visualizzare il nome del comune e il nome della regione

In [ ]:
df_com_reg = pd.merge(comuni,regioni, how="left", on=["COD_REG"])
df_com_reg = df_com_reg[["COMUNE","DEN_REG"]]
df_com_reg

               COMUNE   DEN_REG
0              AgliÃ¨  Piemonte
1             Airasca  Piemonte
2        Ala di Stura  Piemonte
3     Albiano d'Ivrea  Piemonte
4              Almese  Piemonte
...               ...       ...
7898       Villaputzu  Sardegna
7899       Villasalto  Sardegna
7900      Villasimius  Sardegna
7901         Villasor  Sardegna
7902    Villaspeciosa  Sardegna

[7903 rows x 2 columns]

- Visualizzare numero di comuni per ogni provincia

In [ ]:
df_com_prov.groupby("DEN_UTS").count()["COMUNE"]

DEN_UTS
Agrigento         43
Alessandria      187
Ancona            47
Aosta             74
Arezzo            36
                ...
Vercelli          82
Verona            98
Vibo Valentia     50
Vicenza          114
Viterbo           60
Name: COMUNE, Length: 107, dtype: int64

- Visualizzare numero di comuni per ogni regione

In [ ]:
df_com_reg.groupby("DEN_REG").count()["COMUNE"]

DEN_REG
Abruzzo                   305
Basilicata                131
Calabria                  404
Campania                  550
Emilia-Romagna            328
Friuli Venezia Giulia     215
Lazio                     378
Liguria                   234
Lombardia                1506
Marche                    227
Molise                    136
Piemonte                 1181
Puglia                    257
Sardegna                  377
Sicilia                   390
Toscana                   273
Trentino-Alto Adige       282
Umbria                     92
Valle d'Aosta              74
Veneto                    563
Name: COMUNE, dtype: int64

- Visualizzare numero di province per ogni regione

In [ ]:
df_prov_reg.groupby("DEN_REG").count()["DEN_UTS"]

DEN_REG
Abruzzo                   4
Basilicata                2
Calabria                  5
Campania                  5
Emilia-Romagna            9
Friuli Venezia Giulia     4
Lazio                     5
Liguria                   4
Lombardia                12
Marche                    5
Molise                    2
Piemonte                  8
Puglia                    6
Sardegna                  5
Sicilia                   9
Toscana                  10
Trentino-Alto Adige       2
Umbria                    2
Valle d'Aosta             1
Veneto                    7
Name: DEN_UTS, dtype: int64