In [1]:
import pandas as pd

In [2]:
# importare un file csv 
url = "https://raw.githubusercontent.com/CappuCitti/Python-appunti-ed-esercizi/main/Pandas/Data/pokemon_list.csv"
df = pd.read_csv(url)
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [3]:
# riporta senza parametri le prime 5 righe della tabella, se gli passiamo una valore riporta quel numero di righe 
df.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]

In [4]:
df.drop(columns="Attack")

d

NameError: ignored

In [5]:
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [6]:
# riporta le righe a partire dal basso 
df.tail()

       #                 Name   Type 1  ... Speed  Generation  Legendary
795  719              Diancie     Rock  ...    50           6       True
796  719  DiancieMega Diancie     Rock  ...   110           6       True
797  720  HoopaHoopa Confined  Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721            Volcanion     Fire  ...    70           6       True

[5 rows x 12 columns]

In [7]:
# ci riporta i valori del nome della colonna che abbiamo messo
df[["Name", "Type 1","Type 2"]].head()

                    Name Type 1  Type 2
0              Bulbasaur  Grass  Poison
1                Ivysaur  Grass  Poison
2               Venusaur  Grass  Poison
3  VenusaurMega Venusaur  Grass  Poison
4             Charmander   Fire     NaN

In [8]:
# AndrÃ  a prendere i valori in base all'index/la riga, possiamo usare lo Slicing, array
df.iloc[3]

#                                 3
Name          VenusaurMega Venusaur
Type 1                        Grass
Type 2                       Poison
HP                               80
Attack                          100
Defense                         123
Sp. Atk                         122
Sp. Def                         120
Speed                            80
Generation                        1
Legendary                     False
Name: 3, dtype: object

In [9]:
# slicing
df.iloc[-10:]

       #                 Name   Type 1  ... Speed  Generation  Legendary
790  714               Noibat   Flying  ...    55           6      False
791  715              Noivern   Flying  ...   123           6      False
792  716              Xerneas    Fairy  ...    99           6       True
793  717              Yveltal     Dark  ...    99           6       True
794  718     Zygarde50% Forme   Dragon  ...    95           6       True
795  719              Diancie     Rock  ...    50           6       True
796  719  DiancieMega Diancie     Rock  ...   110           6       True
797  720  HoopaHoopa Confined  Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721            Volcanion     Fire  ...    70           6       True

[10 rows x 12 columns]

In [10]:
# , per le colenne
df.iloc[:,5:7]

     Attack  Defense
0        49       49
1        62       63
2        82       83
3       100      123
4        52       43
..      ...      ...
795     100      150
796     160      110
797     110       60
798     160       60
799     110      120

[800 rows x 2 columns]

In [11]:
# va a prendere tutti i valori che contengono un determinato valore in una colonna 
df.loc[df["Type 1"] == "Fire"]

       #                       Name Type 1  ... Speed  Generation  Legendary
4      4                 Charmander   Fire  ...    65           1      False
5      5                 Charmeleon   Fire  ...    80           1      False
6      6                  Charizard   Fire  ...   100           1      False
7      6  CharizardMega Charizard X   Fire  ...   100           1      False
8      6  CharizardMega Charizard Y   Fire  ...   100           1      False
42    37                     Vulpix   Fire  ...    65           1      False
43    38                  Ninetales   Fire  ...   100           1      False
63    58                  Growlithe   Fire  ...    60           1      False
64    59                   Arcanine   Fire  ...    95           1      False
83    77                     Ponyta   Fire  ...    90           1      False
84    78                   Rapidash   Fire  ...   105           1      False
135  126                     Magmar   Fire  ...    93           1      False
147  136                    Flareon   Fire  ...    65           1      False
158  146                    Moltres   Fire  ...    90           1       True
169  155                  Cyndaquil   Fire  ...    65           2      False
170  156                    Quilava   Fire  ...    80           2      False
171  157                 Typhlosion   Fire  ...   100           2      False
236  218                     Slugma   Fire  ...    20           2      False
237  219                   Magcargo   Fire  ...    30           2      False
259  240                      Magby   Fire  ...    83           2      False
263  244                      Entei   Fire  ...   100           2       True
270  250                      Ho-oh   Fire  ...    90           2       True
276  255                    Torchic   Fire  ...    45           3      False
277  256                  Combusken   Fire  ...    55           3      False
278  257                   Blaziken   Fire  ...    80           3      False
279  257      BlazikenMega Blaziken   Fire  ...   100           3      False
352  322                      Numel   Fire  ...    35           3      False
353  323                   Camerupt   Fire  ...    40           3      False
354  323      CameruptMega Camerupt   Fire  ...    20           3      False
355  324                    Torkoal   Fire  ...    20           3      False
435  390                   Chimchar   Fire  ...    61           4      False
436  391                   Monferno   Fire  ...    81           4      False
437  392                  Infernape   Fire  ...   108           4      False
518  467                  Magmortar   Fire  ...    83           4      False
542  485                    Heatran   Fire  ...    77           4       True
557  498                      Tepig   Fire  ...    45           5      False
558  499                    Pignite   Fire  ...    55           5      False
559  500                     Emboar   Fire  ...    65           5      False
572  513                    Pansear   Fire  ...    64           5      False
573  514                   Simisear   Fire  ...   101           5      False
614  554                   Darumaka   Fire  ...    50           5      False
615  555    DarmanitanStandard Mode   Fire  ...    95           5      False
616  555         DarmanitanZen Mode   Fire  ...    55           5      False
692  631                    Heatmor   Fire  ...    65           5      False
721  653                   Fennekin   Fire  ...    60           6      False
722  654                    Braixen   Fire  ...    73           6      False
723  655                    Delphox   Fire  ...   104           6      False
730  662                Fletchinder   Fire  ...    84           6      False
731  663                 Talonflame   Fire  ...   126           6      False
735  667                     Litleo   Fire  ...    72           6      False
736  668                     Pyroar   Fire  ...   106           6      False
799  721                  Volcanion   Fire  ...    70           6       True

[52 rows x 12 columns]

In [12]:
# possiamo controllare piÃ¹ parametri
df.loc[(df["Type 1"] == "Fire") & (df["Speed"] >= 100)]
df[(df["Type 1"] == "Fire") & (df["Speed"] >= 100)]

       #                       Name Type 1  ... Speed  Generation  Legendary
6      6                  Charizard   Fire  ...   100           1      False
7      6  CharizardMega Charizard X   Fire  ...   100           1      False
8      6  CharizardMega Charizard Y   Fire  ...   100           1      False
43    38                  Ninetales   Fire  ...   100           1      False
84    78                   Rapidash   Fire  ...   105           1      False
171  157                 Typhlosion   Fire  ...   100           2      False
263  244                      Entei   Fire  ...   100           2       True
279  257      BlazikenMega Blaziken   Fire  ...   100           3      False
437  392                  Infernape   Fire  ...   108           4      False
573  514                   Simisear   Fire  ...   101           5      False
723  655                    Delphox   Fire  ...   104           6      False
731  663                 Talonflame   Fire  ...   126           6      False
736  668                     Pyroar   Fire  ...   106           6      False

[13 rows x 12 columns]

In [13]:
df.loc[15:21,["Type 1","Speed"]]

    Type 1  Speed
15     Bug     70
16     Bug     50
17     Bug     35
18     Bug     75
19     Bug    145
20  Normal     56
21  Normal     71

In [14]:
# riordiraÃ  la tabella
df.sort_values("Name")

       #                     Name   Type 1  ... Speed  Generation  Legendary
510  460                Abomasnow    Grass  ...    60           4      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
68    63                     Abra  Psychic  ...    90           1      False
392  359                    Absol     Dark  ...    75           3      False
393  359          AbsolMega Absol     Dark  ...   115           3      False
..   ...                      ...      ...  ...   ...         ...        ...
632  571                  Zoroark     Dark  ...   105           5      False
631  570                    Zorua     Dark  ...    65           5      False
46    41                    Zubat   Poison  ...    55           1      False
695  634                 Zweilous     Dark  ...    58           5      False
794  718         Zygarde50% Forme   Dragon  ...    95           6       True

[800 rows x 12 columns]

In [15]:
# riordina in ordine ascendente
df.sort_values("Name", ascending = False)

       #                     Name   Type 1  ... Speed  Generation  Legendary
794  718         Zygarde50% Forme   Dragon  ...    95           6       True
695  634                 Zweilous     Dark  ...    58           5      False
46    41                    Zubat   Poison  ...    55           1      False
631  570                    Zorua     Dark  ...    65           5      False
632  571                  Zoroark     Dark  ...   105           5      False
..   ...                      ...      ...  ...   ...         ...        ...
393  359          AbsolMega Absol     Dark  ...   115           3      False
392  359                    Absol     Dark  ...    75           3      False
68    63                     Abra  Psychic  ...    90           1      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
510  460                Abomasnow    Grass  ...    60           4      False

[800 rows x 12 columns]

In [16]:
df.sort_values(["Type 1", "Type 2"], ascending=True)

       #                     Name Type 1  ... Speed  Generation  Legendary
656  595                   Joltik    Bug  ...    65           5      False
657  596               Galvantula    Bug  ...   108           5      False
231  214                Heracross    Bug  ...    85           2      False
232  214  HeracrossMega Heracross    Bug  ...    75           2      False
697  636                 Larvesta    Bug  ...    60           5      False
..   ...                      ...    ...  ...   ...         ...        ...
655  594                Alomomola  Water  ...    65           5      False
724  656                  Froakie  Water  ...    71           6      False
725  657                Frogadier  Water  ...    97           6      False
762  692                Clauncher  Water  ...    44           6      False
763  693                Clawitzer  Water  ...    59           6      False

[800 rows x 12 columns]

In [17]:
df["Differenza"] = df["Attack"] - df["Defense"]
df

       #                   Name   Type 1  ... Generation  Legendary  Differenza
0      1              Bulbasaur    Grass  ...          1      False           0
1      2                Ivysaur    Grass  ...          1      False          -1
2      3               Venusaur    Grass  ...          1      False          -1
3      3  VenusaurMega Venusaur    Grass  ...          1      False         -23
4      4             Charmander     Fire  ...          1      False           9
..   ...                    ...      ...  ...        ...        ...         ...
795  719                Diancie     Rock  ...          6       True         -50
796  719    DiancieMega Diancie     Rock  ...          6       True          50
797  720    HoopaHoopa Confined  Psychic  ...          6       True          50
798  720     HoopaHoopa Unbound  Psychic  ...          6       True         100
799  721              Volcanion     Fire  ...          6       True         -10

[800 rows x 13 columns]

In [18]:
# Aggiungere una colonna, %%time ci dice il tempo 
%%time
df["Differenza"] = df["Attack"] - df["Defense"]
df

CPU times: user 994 Âµs, sys: 0 ns, total: 994 Âµs
Wall time: 1.05 ms

In [19]:
# Per eliminare una colonna
df = df.drop(columns="Differenza")
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [20]:
# per cancellare le righe
df = df.drop([1,3,5])
df

       #                       Name   Type 1  ... Speed  Generation  Legendary
0      1                  Bulbasaur    Grass  ...    45           1      False
2      3                   Venusaur    Grass  ...    80           1      False
4      4                 Charmander     Fire  ...    65           1      False
6      6                  Charizard     Fire  ...   100           1      False
7      6  CharizardMega Charizard X     Fire  ...   100           1      False
..   ...                        ...      ...  ...   ...         ...        ...
795  719                    Diancie     Rock  ...    50           6       True
796  719        DiancieMega Diancie     Rock  ...   110           6       True
797  720        HoopaHoopa Confined  Psychic  ...    70           6       True
798  720         HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721                  Volcanion     Fire  ...    70           6       True

[797 rows x 12 columns]

In [21]:
df.to_excel('./file.xlsx')
df.to_csv('./file.csv')
df.to_json('./file.json')